@model WebMVCR1.Models.Person

@{
    //Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Страница ввода имени";
}

<div>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td><p>Введите имя:</p></td>
                <td>@Html.TextBox("FirstName")</td>
                @*<td><input type="text" name="FirstName" /></td>*@
            </tr>
            <tr>
                <td><p>Введите фамилию:</p></td>
                <td>@Html.TextBoxFor(a => a.LastName)</td>
                @*<td><input type="text" name="LastName" /></td>*@
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /></td>
                <td></td>
            </tr>
        </table>
    }
</div>