@model WebMVCR1.Models.PersonRepository

@{
    //Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Список людей";
}

<div>
    <h3>Список людей</h3>
    <p>Людей всего: @ViewBag.PersonCount</p>
    <ul>
       @foreach (var c in ViewBag.PersonList)
        {
            <li>@c.ToString()</li>
        }
    </ul>
    <p>
        @Html.ActionLink("На главную", "Index")
    </p>
</div>